<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">  
	<title>		
	</title>

  <script src="./lib/vue2.6.11.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

  <style>
    .tab-button {
      padding: 6px 10px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: 1px solid #ccc;
      cursor: pointer;
      background: #f0f0f0;
      margin-bottom: -1px;
      margin-right: -1px;
    }
    .tab-button:hover {
      background: #e0e0e0;
    }
    .tab-button.active {
      background: #e0e0e0;
    }
    .tab {
      border: 1px solid #ccc;
      padding: 10px;
    }
  </style>  
</head>

<body>  

  <div id="movie-app">
    <div>
      <p>
        CRUD by buttons <br>
        <button v-on:click='addButton'>
          Add
        </button>
        <button v-on:click='updateButton'>
          Update
        </button>      
        <button v-on:click='deleteButton'>
          Delete
        </button>
      </p>

      <form v-on:submit.prevent='addNewMovie'>
        <label for='name'>Add Movie</label>
        <input v-model='name' id='name' placeholder='Enter new movie name.'>

        <input type="radio" id='fiction' value="Fiction" v-model='type'>
        <label for='fiction'> Fiction </label>
        <input type="radio" id='non-fiction' value="Non fiction" v-model='type'>
        <label for="non-fiction"> Non fiction </label>

        <button> Add </button>
      </form>

      <ul>
        <div v-bind:class="[class1, class2]">  <!--  v-bind:style="{ display: ['-webkit-box', 'flex', '-ms-flexbox'] }"
        This will only render the last value in the array which the browser supports. In this example,
        will render display: flex for browsers that support the unprefixed version of flexbox. -->
          <movie-info v-for="item in list" v-bind:movie="item" v-bind:key="item.id">
          </movie-info>
        </div>
      </ul>

      <div v-for="value in object">
        {{value}}
      </div>

      <div v-for="(value, key) in object">
        {{key}}: {{value}}
      </div>

      <div v-for="(value, key, index) in object">
        {{index}}. {{key}}: {{value}}
      </div>

      <div v-for="ele in even(arrList)">
        Even no {{ele}}
      </div>
    </div>
  </div>

  <div id='dynamic-component'>
    <button v-for='tab in tabs' v-bind:key='tab' v-bind:class="['tab-button', { active: currentTab === tab }]" v-on:click='currentTab = tab'>
      {{tab}}
    </button>
    <component v-bind:is='currentTabComponent' class='tab'></component>
  </div>

  <br> <br>

  <div id='dynamic-title'>
    <search-input v-model='searchQ'></search-input> {{searchQ}}    

    <alert-box>
      Something bad happened.  
    </alert-box>

    <!-- v-once will not allow to change once mounted -->
    <h3 v-bind:title="title" v-once>
      {{ message }}
      <br/>
      {{ computedProp }}
    </h3>

    <p v-html="rawHtmlStr">
    </p>

    <p @click='vue260plus'> Shorthand of directive </p>    

    <counter-button></counter-button>
    <counter-button></counter-button>

    <div>
      {{ firstname }} <br/>
      {{ lastname }} <br/>
      {{ fullname }}
    </div>

    <div v-bind:class="classObject">
      class Object
    </div>
  </div>

  <div id='que-ans-watch'>
    <p>
      Type anything which include ?:
      <input v-model='question'>
    </p>
    {{answer}}
    <br>
    <span v-for='item in photos' v-bind:key='item.id'>
      {{item.title}}
      <img v-bind:src='item.thumbnailUrl' />  
    </span>
  </div>

</body>
</html>

<script src="./lib/init.js"></script>